* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(46, 52, 64, 0.9);
	padding: 20px;
}

button {
    border-radius: 0;
    border: 1px solid #2E3440; /* using a Nord dark color for the border */
	text-decoration-color: #D8DEE9; /* light text decoration */
    color: #D8DEE9; /* Nord snow color for text */
	background-color: #3B4252; /* slightly lighter Nord background for buttons */
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	padding: 15px;
	font-size: 16px;
}

/* Hover, focus, and active states change the background color to a cool Nord blue */
button:focus, button:active, button:hover {
	background-color: #5E81AC; /* Nord accent blue */
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
